.pv__container {
    grid-area: p;

    display: grid;

    grid-template-columns: 30px;
    grid-template-rows: repeat(12, fit-content(100%));
    gap: 10px;
    /* align-items: center; */

    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--border);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}


.pv__point {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.pv__point--empty {
    background-color: var(--light-grey);
}

.pv__point--green {
    background-color: var(--green);
}

.pv__point--red {
    background-color: var(--red);
}

.pv__point--yellow {
    background-color: var(--yellow);
}

.pv_alt {
    display: none;
}

@media (max-width: 980px) {
    .pv__container {
        grid-template-columns: repeat(12, fit-content(100%));
        grid-template-rows: 30px;
    }

    .pv__title {
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .pv__container {
        grid-template-columns: repeat(11, fit-content(100%));
        grid-template-rows: repeat(2, 20px);
    }
    .pv__title {
        grid-column: 1/-1;
    }
    .pv__point {
        width: 20px;
        height: 20px; 
    }
}