*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --dark-grey: #202020;
  --light-grey: #E0E8F0;
  --background: #FFFEFE;
  --secondary-background: #F1F5F9;
  --border: #E2E8F0;

  --green: #00DC82;
  --red: #EF4444;
  --yellow: #F59E0B;

  --dark-green: #00A86B;
}


body {
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

body>* {
  margin: 0;
  padding: 0;
}

/*? --- Global  */

.bold {
  font-weight: 700;
}

.title {
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.title::after {
  content: '';
  position: relative;
  display: block;
  width: 105%;
  height: 20px;
  background-color: var(--green);
  border-radius: 10px;
  top: -18px;
  left: -8px;
  opacity: 0.8;
  z-index: -1;
}

/*? --- Main  */

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    "h h h h h h h h h h h h"
    "w w w w w w w b b b b p"
    "w w w w w w w b b b b p"
    "w w w w w w w b b b b p"
    ". . . . i i i i . . . p"
    ". k k k k k k k k k k p"
    ". k k k k k k k k k k p"
    ". k k k k k k k k k k p"
    ". . . . . . . . . . . .";
  justify-items: center;

  gap: 30px;
  padding: 30px;
  width: 100vw;
  height: 100vh;
}

main>h1 {
  grid-area: h;
  margin: 0;
}

@media (max-width: 980px) {
  main {
    grid-template-areas:
      "h h h h h h h h h h h h"
      "w w w w w w w b b b b b"
      "w w w w w w w b b b b b"
      "p p p p p p p p p p p p"
      ". . . . i i i i . . . ."
      ". k k k k k k k k k k ."
      ". k k k k k k k k k k ."
      ". k k k k k k k k k k ."
      ". . . . . . . . . . . .";
    gap: 20px;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-areas:
      "h h h h h h h s s s s s"
      "w w w w w w w w w w w w"
      "w w w w w w w w w w w w"
      "p p p p p p p p p p p p"
      "i i i i i i i i i i i i"
      "k k k k k k k k k k k k"
      "k k k k k k k k k k k k"
      "k k k k k k k k k k k k"
      ". . . . . . . . . . . .";
    gap: 20px;

    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.2rem;
  }
}

/*? --- PopUpSection  */

.PopUp__Section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.PopUp__container {
  background-color: var(--background);
  border-radius: 15px;
  padding: 30px;
  border: 1px solid var(--border);
  text-align: center;
}

.PopUp__Button {
  display: block;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--green);
  color: var(--black);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.PopUp__Button:hover {
  background-color: var(--dark-green);
}